extends /../includes/members_page.pug

block pageTitle
  | Juniors

block headerImage
  - const headerImage = 'members/juniors_header'

block sections
  .section.row
    .section-content
      h1 Junior Training
      p This should be some info related to the juniors.
      p Two or three paragraphs would probably be good.
      h1 Training Times
      p You can have multiple titles in a single section if you want.
    .section-attachments.important
      .plan.attachment
        .plan-name Junior Training
        .plan-price
          .plan-price-value £150
          .plan-price-per annually
      .attachment
        h2 Coaches
        .center: img(src='/assets/members/coaches/1.webp')
        h3 Sarah Hodgos
        ul
          li Level 2 Rowing Coach
  .section
    h1 How to join!
    p Add however many sections you need.

block afterGallery
  #videos.section
    .video: <iframe width="560" height="315" src="https://www.youtube.com/embed/ZBMbNOI7kiM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>