extends /../includes/members_page.pug

block pageTitle
  | Junior Training

block head
  title= 'Juniors Page'

block headerImage
  - const headerImage = 'members/juniors_header'

block sections
  //a#sign-up-button.header-button(role='button' tabindex='0' aria-label='Scroll to How to Join') Sign Up Now ?Unsure why css is not working?

  .section.row
    .section-content
      p This page is intended for juniors who have completed the three <a href="members/learn">free learn-to-row sessions</a>. Once you have completed your free sessions, you can then join our other junior members and continue your training.
      p Our junior squad is for anyone still in compulsory full-time education, typically between the ages of 10 and 18 (as specified by British Rowing, at 00:00 on the 1st of September after a junior's 18th birthday, that member is no longer a junior).  
      p We aim to introduce rowing to young people both socially at the club and competitively at local and regional races (please see the <a href="/events">events page</a> for more information on races).
      p Sessions will aim to improve your rowing by mastering your ability to row with others confidently. Once you are able to get into a boat with any other semi-experienced members and consistently row without any major difficulties, you will then be invited to join more on-the-water sessions. Typically sessions will vary between either longer paddles aimed at technical ability and endurance or sprint-based sessions that may challenge both fitness and technical ability in a faster-paced environment.
      p These sessions are split in this way, as the invitation-only sessions can be a lot more challenging for less experienced rowers, and the open-to-all sessions will have a lot more focus on technical ability. This method works to progress each individual in the most well-suited environment possible so that people are not pushed too early, which may subsequently lead to a loss of interest or frustration. Please remember that rowing is like anything else and will take time to master, so don't put too much pressure on yourself. In addition, separating sessions also helps the coaches to manage safety cover and time spent with each crew; having many crews on the water at varying abilities can be very difficult to manage, especially with our ever-expanding community of juniors.
      p Invitation-only sessions only apply outside of winter training; during this time all weekday sessions are available to everyone. This is because sessions are moved indoors and become predominantly RowErg based, as it is too dark outside. Session difficulty may still vary per day, but a coach can provide easier sessions or further information as to which days are less challenging and how sessions can be adapted to best suit you.
      p We also offer taster days for juniors during school holidays throughout the year. These days give a potential rower a chance to have a go at all aspects of rowing (indoor rowing and circuit training as well as getting out onto the water) to see whether it is a sport they may enjoy. The days are good fun and open to all. If you would like to be kept informed of the date of our next taster day, please send a request by email, although these days are also advertised on our social media.
      br 
      a.link-button(href="/contact") Email Us
      h1 Training Times
      p Below is a rough outline for junior training times; however, this is subject to change for any given week due to events the club may be participating in, weather conditions, or any other extenuating circumstances.
      h3 Summer Training:
      p <small><i>(Typically March through to September)</i></small>   
      table
        tr
          td Monday
          td Invitation only
          td 5:15pm - 6:30pm
        tr
          td Tuesday
          td Open to all
          td 5:15pm - 6:30pm
        tr
          td Wednesday
          td Open to all
          td 5:15pm - 6:30pm
        tr
          td Thursday
          td Invitation only
          td 5:15pm - 6:30pm
        tr
          td Friday
          td Rest Day
          td 
        tr
          td Saturday
          td Usually 10:30am 
          td (Dependent on weather and events)
        tr
          td Sunday
          td Usually 10:30am 
          td (Dependent on weather and events)
      h3 Winter Training:
      p <small><i>(Typically October through to February)</i></small>
      table
        tr
          td Monday
          td Open to all
          td 5:15pm - 6:30pm
        tr
          td Tuesday
          td Open to all
          td 5:15pm - 6:30pm
        tr
          td Wednesday
          td Open to all
          td 5:15pm - 6:30pm
        tr
          td Thursday
          td Open to all
          td 5:15pm - 6:30pm
        tr
          td Friday
          td Rest Day
          td 
        tr
          td Saturday
          td Usually 10:30am 
          td (Dependent on weather and events)
        tr
          td Sunday
          td Usually 10:30am 
          td (Dependent on weather and events)

    .section-attachments.important
      .plan.attachment
        .plan-name
          div Junior
          div Ages 10-18
        .row
          .plan-price
            .plan-price-value £12.50
            .plan-price-per Monthly
          .plan-price
            .plan-price-value £37.50
            .plan-price-per Quarterly 
          .plan-price
            .plan-price-value £150
            .plan-price-per Yearly
      .attachment
        h2 Junior Coach
        h3 Sarah Hodge
        img(src='/assets/members/coaches/1.webp' alt='Junior Coach Sarah Hodge')
        ul
          li Level 2 Rowing Coach
          li DBS Checked
          li First Aid
        #email-section.scroll-stop
        - const email = 'Sarahsue_12345@hotmail.co.uk'
        //a.attachment-button(href=`mailto:${email}`)
          .icon: include /../includes/icons/email.svg
          | #{email}
  
  .section
    #sign-up-section.scroll-stop
    .section-split
      div
        h1 How To Join
        //p If you’d like to join our club, then please get in touch by filling out the membership form and completing payment below through GoCardless (alternatively, any membership payment can also be directly made to the club account; please contact a coach if this is your preferred method of payment). If you have not yet completed your free three sessions, please see our <a href="/members/learn">Learn-to-row</a> page first.
        p If you are a new member who would like to join our club, then please get in touch by contacting us at the email below.
        p If you are a current member and are looking to make payments, memberships can be paid through GoCardless as linked below (alternatively, any membership payment can also be directly made to the club account; please contact the email below if this is your preferred method of payment).
        p If you are making a payment for the first time please contact via email to complete a member detail form. 
        div: a.email(href="mailto:Sarahsue_12345@hotmail.co.uk")
          .icon: include /../includes/icons/email.svg
          | Sarahsue_12345@hotmail.co.uk
        a.payment-button(href='https://pay.gocardless.com/AL00066PKVGRNG')
          h4 Monthly payments (£12.50 / monthly)
          p £12.50 will be collected automatically on the last day of the month
        br
        a.payment-button(href='https://pay.gocardless.com/AL00066PM8WNCS')
          h4 Quarterly payments (£37.50 / 3 monthly)
          p £37.50 will be collected automatically every 3 months on the last day of the month
        br
        a.payment-button(href='https://pay.gocardless.com/BRT0001XTVPAJ16')
          h4 Yearly payment (£150 / yearly)
          p £150 will be collected as one-off instant payment
        
      //<iframe id="form" src="https://docs.google.com/forms/d/e/1FAIpQLScw7qFAdNHZWY6J5skS26_kwqXsOYqXfGDcumrv9BXFwRFXWA/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0"></iframe>

  .section
    <div data-mc-src="ccc0a959-b2ba-446c-9ab1-9f696a5f44b4#youtube"></div><script src="https://cdn2.woxo.tech/a.js#6412038e34fe25f694e77401" async data-usrc></script>