extends /../includes/members_page.pug

block pageTitle
  | Adults Training

block headerImage
  - const headerImage = 'members/adult_header'

block sections
  .section.row
    .section-content
      h1 
      p This page is intended for adults who have completed the three free learn-to-row sessions.
      p
      h1 Training Times
      //(except during winter indoor training)??
      table
        tr
          td Monday
          td Invitation only
          td 5:30pm - 6:30pm
        tr
          td Tuesday
          td Invitation only
          td 5:30pm - 6:30pm
        tr
          td Wednesday
          td Open to all
          td 5:30pm - 6:30pm 
        tr
          td Thursday
          td Invitation only
          td 5:30pm - 6:30pm
        tr
          td Friday
          td Rest Day
        tr
          td Saturday
          td Open to all
          td Usually 10:30am  (However this is dependent on both the weather and events)
        tr
          td Sunday
          td Open to all
          td Usually 10:30am  (However this is dependent on both the weather and events)
      
    .section-attachments.important
      .plan.attachment
        .plan-name
          div Adults
        .row
          .plan-price
            .plan-price-value £15
            .plan-price-per Monthly
          .plan-price
            .plan-price-value £45
            .plan-price-per Quarterly
          .plan-price
            .plan-price-value £180
            .plan-price-per Yearly
      
      .attachment
        h2 Club Captain/Head Coach
        h3 Chris Webb
        img(src='/assets/members/coaches/2.webp')
        ul
          li DBS Checked
          li Level 2 Rowing Coach
          li First Aid
        - const email = 'chris@sunderlandrowing.co.uk'
        a.attachment-button(href=`mailto:${email}`)
          .icon: include /../includes/icons/email.svg
          | #{email}
  
  .section
    h1 Senior Training
    p The senior squad is for those who have some experience rowing or sculling, and who are willing and able to commit to a full training program six days a week.(Water based in the Summer, and land based in Winter), as well as Saturday and Sunday morning water outings (8am – 12pm) each weekend.
    p The senior squad regularly competes at River Races and Regatta
    h1 Masters Training
    p The Masters’ Squad is for men and women aged 27+ with previous rowing experience who wish to be an active member of the our club these rowers are dedicated to enjoying themselves, the group welcomes rowers with all levels of experience and ability and offers rowing to suit all levels, from recreational / occasional to full competitive racing at international levels.
    p So, whatever your ability level and whatever your ambition from rowing, you’ll be assured of a very warm and enthusiastic welcome at Sunderland Rowing Club. The Masters row on Saturday and Sunday mornings through the year and add evening rowing in the summer months.

  .section
    .section-split
      div
        h1 How to join!
        p If you’d like to join our friendly and welcoming club then please get in touch by fuilling out the membership form on the right
        p If you have never rowed before you can come along to a Learn to Row events and then join the club afterwards
        a.payment-button(href='https://pay.gocardless.com/AL00066PM02977')
          h4 Monthly payments (£15 / monthly)
          p £15 will be collected automatically on the last day of the month
        br
        a.payment-button(href='https://pay.gocardless.com/AL00066PM7BF1D')
          h4 Quarterly payments (£45 / 3 monthly)
          p £45 will be collected automatically every 3 months on the last day of the month
        br
        a.payment-button(href='https://pay.gocardless.com/BRT0001XV8ZJ3AX')
          h4 Yearly payment (£180 / yearly)
          p £180 will be collected as one-off instant payment
        p All members must fill in a membership form.

      <iframe id="form" src="https://docs.google.com/forms/d/e/1FAIpQLSc-gEDyUwiSQHSgOa-EdmHgLwfOXzj4-c7KILyvcCQgazEBzw/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0"></iframe>

  .section
    <div data-mc-src="ccc0a959-b2ba-446c-9ab1-9f696a5f44b4#youtube"></div><script src="https://cdn2.woxo.tech/a.js#6412038e34fe25f694e77401" async data-usrc></script>