extends /../includes/page.pug

append html
  - const headerImage = 'support_header'

block head
  - css = '/support/style.css'
  link(rel='preload', as='image', href=`/assets/${headerImage}.webp`)
  script(type='module', src='/support/script.js')

block append head
  title= title + ' Support Page'

block content
  #header(style=`background-image:linear-gradient(to top, var(--base-color), transparent 100px),url('/assets/${headerImage}.webp');`)
    h1 Support our Future
  #sections

    //.section
      .sub-section
        .section-content
          h1 Help us get more people Rowing!
          p Our aim is to increase the uptake of rowing by continuing to offer our Free Learn-to-Row courses, which introduce people to rowing, but to do so we need to update some of the equipment that we use as it has become unsuitable due to age and use.

          p Gift Aid is a scheme that allows charities to reclaim tax on a donation made by a UK taxpayer, which means your donations will be worth 25% more to us at no extra cost to you. If you Gift Aid your donations we can claim back from the government 25p for every £1 you donate to the club.

          p This additional income really does make a big difference, so please don't forget to Gift Aid donations if you are a UK tax payer.
          br
          a.link-button(href='https://www.spacehive.com/help-us-get-more-people-rowing') Donate

        .section-attachments.important.qr
          .row.attachment
            a(href='https://www.spacehive.com/help-us-get-more-people-rowing', target='_blank', rel='noopener'): img(data-src='/assets/support/spacehive.webp')
            a(href='https://www.spacehive.com/help-us-get-more-people-rowing', target='_blank', rel='noopener'): img(data-src='/assets/support/help-us-get-more-people-rowingQR.webp', height=218)

    // Dead link below
    //.section
      .sub-section
        .section-content
          h1 Sunderland Boat Club House Expansion
          p we are looking into the possibility of expanding the Boathouse for the future and we require funding to achieve this goal. If you are interested in making a donation, no matter how big or small, please donate to our justgiving page
          br
          a.link-button(href='https://www.justgiving.com/crowdfunding/sunderlandrowingclubhouse') Donate

        .section-attachments.important.qr
          .row.attachment
            a(href='https://www.justgiving.com/crowdfunding/sunderlandrowingclubhouse', target='_blank', rel='noopener'): img(data-src='/assets/support/justgiving.webp')
            a(href='https://www.justgiving.com/crowdfunding/sunderlandrowingclubhouse', target='_blank', rel='noopener'): img(data-src='/assets/support/sunderland-rowing-club-house-qr.webp', height=218)
    
    //.section 
      .sub-section 
        .section-content 
          h1 Boxing Day Dip 
          p Who's up for a Boxing Day dip challenge? 🏊‍♂❄
          p We're looking for brave (or maybe just slightly crazy!) volunteers to take part in a sponsored Boxing Day Dip - all to raise funds for our club!
          p Originally, Hayden was offered sponsorship support from Greg Peacock (former councillor and club supporter) for the dip. But in true team spirit, Hayden has decided to donate the opportunity to the club so that everyone can benefit.
          p Now we just need you to make it happen! Everyone's welcome - juniors can join too with parental supervision and discretion.
          p Let's make a splash for the club this Christmas! 🌊🎄

        .section-attachments.important.qr
          .row.attachment
            a(href='https://www.justgiving.com/crowdfunding/gregory-peacock?utm_medium=CF&utm_source=CL', target='_blank', rel='noopener'): img(data-src='https://images.justgiving.com/image/e8ffafc6-6a1e-4365-a4d9-c60eb072b42f.jpg?template=Size800w')
            a(href='https://www.justgiving.com/crowdfunding/sunderlandrowingclubhouse', target='_blank', rel='noopener'): img(data-src='/assets/support/BoxingDayDipQR.webp', height=218)
            
    //.section
      .sub-section
        .section-content
          h1 Become A Friend Of The Club
          p It is our initiative to allow past and present stay connected and support the club. Friends will be sent quarterly updates on the Club’s activities, and invited to brilliant events that bring everyone together, including an annual party.
          p you will also be entered in to the club lottery, from just £5, with monthly prize draws for cash prizes, with half of all proceeds going to Sunderland Rowing Club to fund the club and its activities.
          p To support us as a Friend of the Club please select how much you would like to contribute a month from the links below. The links will open in GoCardless where you can complete your Friends of the Club Direct Debit details.
        
        .section-attachments.important
          a.plan.attachment(href='https://pay.gocardless.com/AL00066PKZ2SJ7')
            .plan-name Donate
            .row
              .plan-price
                .plan-price-value £2.50
                .plan-price-per Monthly
          a.plan.attachment(href='https://pay.gocardless.com/AL00066PMQ0YJT')
            .plan-name
            .row
              .plan-price
                .plan-price-value £5 
                .plan-price-per Monthly
          a.plan.attachment(href='https://pay.gocardless.com/AL00066PMRZ545')
            .plan-name 
            .row
              .plan-price
                .plan-price-value £10 
                .plan-price-per Monthly


    .section
      .sub-section
        .section-content
          h1 Sponsoring 
          p With your organisation’s support, we can build on our success, offer better opportunities to our members and greater accessibility to rowing to more people in Sunderland. We can continue our work with local schools, encouraging children to participate in sport and promote an active and healthy lifestyle across Sunderland.
          p With your organisation’s support we would improve our club’s equipment and facilities for our current and future members. This support will also improve accessibility to rowing throughout Sunderland, enabling us to continue to expand our membership. This will be done by continuing our work with local schools, encouraging children and adults to participate in sport and promoting an active and healthy lifestyle across the area.
          h2 What your sponsorship could buy
          p By sponsoring us, you’re with us every step of the way:
          ul
            li Your name and logo on our website
            li Promotion of your brand on our social media channels
            li Your name on boats
            li Your name on the trailer
            li Your name on the safety launch
            li Your name and logo on boards and promotional material at our events
          p Contact us at the email below to discuss how your organisation can support rowing in Sunderland.
          div: a.email(href="mailto:sunderlandrowingclub1889@gmail.com")
            .icon: include /../includes/icons/email.svg
            | sunderlandrowingclub1889@gmail.com
        
    .section
      .sub-section
        .section-content
          h1 Support us by shopping online
          p Every time you shop online via easyfundraising at one of the 3,300 retailers, including John Lewis, Sainsbury’s and Booking.com, a donation will be made to Sunderland Rowing Club, and it won’t cost you an extra penny.
          p Your donations will be collected by easyfundraising and automatically sent to Sunderland Rowing Club. It couldn’t be easier. There are no catches or hidden charges, and Sunderland Rowing Club will be really grateful for your donations.
          #easyfundraising-info Currently we have raised <strong>£#[span#easyfundraising-total -]</strong> from <strong>#[span#easyfundraising-supporters n/a] supporters</strong>.
          p It’s really simple to get started; click the image and sign up for free.
          a(href='https://www.easyfundraising.org.uk/causes/sunderlandrowingclub/', target='_blank', rel='noopener'): img(data-src='/assets/support/easyfundraising.webp')
        
    //h1 Sponsors
    //#sponsors.section
      a(href='https://WEBSITE HERE/', target='_blank', rel='noopener'): img(data-src='/assets/support/COMPENY LOGO HERE.webp')
      div
        p DATE HERE
        h3 DESCRIPTION HERE
        p Special thank you

      .section-attachments.important
          a.plan.attachment(href='WEBSITE HERE')
            .plan-name Website
            .row
              .plan-price
                .plan-price-value WEBSITE HERE

    h1 Donations
    #crowdfunding.section.row
      .section-tile
        a(href='https://www.greggsfoundation.org.uk/', target='_blank', rel='noopener'): img(data-src='/assets/support/greggsfoundation.webp')
        div
          p 17th October 2024
          h2 Greggs Foundation
          h3 Weʼve received food dontaion for our race event
          p Special thank you everyone at Greggs Foundation for this dontaion.
      .section-tile
        a(href='https://merkurgroupuk.co.uk/', target='_blank', rel='noopener'): img(data-src='/assets/support/merkurgroupuk.webp')
        div
          p 20 April 2024
          h2 Merkur Group uk
          h3 Weʼve received £1,360 to purchase two pairs of new blades and two mesh banners to promote our 'Free Learn to Row' sessions
          p Special thank you everyone at Merkur Group Uk for this dontaion.
      .section-tile
        a(href='https://downeydiy.co.uk/', target='_blank', rel='noopener'): img(data-src='/assets/support/downeydiy.webp')
        div
          p 16 April 2023
          h2 Downey Diy
          h3 Weʼve received gardening equipment to help with boat house maintenance!
          p Special thank you to Naomi and Downey Diy for this dontaion.

    h1 Grants &amp; Funds
    #crowdfunding.section.row
      .section-tile
        a(href='https://www.sunderland.gov.uk/article/13134/Area-Committee-Funding', target='_blank', rel='noopener'): img(data-src='/assets/support/sunderlandcitycouncil_westareacommittee.webp')
        div
          p 5 April 2025
          h2 Support Future Learn to Row courses
          h3 Weʼve received funding of £1317 to buy a new concept 2 rowing machine and spare parts. 
          p Special thank you Sunderland City Council West Area Committee.
      .section-tile
        a(href='https://www.knott-trust.co.uk/', target='_blank', rel='noopener'): img(data-src='/assets/support/sir-james-knott-trust.webp')
        div
          p 31 March 2025
          h2 Support Future Learn to Row courses
          h3 Weʼve received funding of £1000. 
          p Special thank you Sir James Knott Trust.
      .section-tile
        a(href='https://www.sunderland.gov.uk/Breez', target='_blank', rel='noopener'): img(data-src='/assets/support/sunderlandcitycouncil.webp')
        div
          p 12st November 2024
          h2 BREEZ - Business Renewables Energy Efficiency Sunderland
          h3 Weʼve received funding to replace all the lighting in the boathouse. 
          p Special thank you Sunderland City Council.
      .section-tile
        a(href='https://www.gentoogroup.com/support/empower-sunderland-local-community-fund/', target='_blank', rel='noopener'): img(data-src='/assets/support/gentoogroup.webp')
        div
          p 12st November 2024
          h2 Empower Sunderland Local Community Fund
          h3 Weʼve received funding to replace all the lighting in the boathouse. 
          p Special thank you Gentoo Group.
      .section-tile
        a(href='https://tescocommunitygrants.org.uk/', target='_blank', rel='noopener'): img(data-src='/assets/support/TescoGrantsWeb.webp')
        div
          p 1st August 2023
          h2 Tesco community grants
          h3 Weʼve received £1500 to help more people out on the water!
          p Special thank you to Tesco and Sunderland community for voting for our club.
      .section-tile
        a(href='https://www.barbour.com/uk/the-barbour-foundation', target='_blank', rel='noopener'): img(data-src='/assets/support/barbour_foundation.webp')
        div
          p 21st June 2023
          h2 The Barbour Foundation
          h3 Weʼve received £2,000 to put towards a new boat!
          p Special thank you the The Barbour Foundation team for this money.
      .section-tile
        a(href='https://localgiving.org/magic-little-grants/', target='_blank', rel='noopener'): img(data-src='/assets/support/MagicLittleGrants.webp')
        div
          p 1st April 2023
          h2 Magic Little Grants
          h3 Weʼve received £500 to help purchase tools for boat repair!
          p Special thank you the Magic Little Grants team for this money.

      .section-tile
        a(href='https://www.sportengland.org/funds-and-campaigns', target='_blank', rel='noopener'): img(data-src='/assets/support/sportengland.webp')
        div
          p 2016
          h2 Sport England
          h3 Weʼve received £10,000 to buy a Touring Boat!
          p Special thank you to sport england for buying our Touring Boat to help teach new member how to row.
      //- .section-tile
      //-   a(href='https://poundlandfoundation.org.uk/', target='_blank', rel='noopener'): img(data-src='/assets/support/poundlandfoundation.webp')
      //-   div
      //-     p ??? 2023
      //-     h3 Weʼve received £750 to help buy new kit!
      //-     p Special thank you to Poundland and Martin.
      
    h1 Crowdfunding
    #crowdfunding.section.row
      .section-tile
        a(href='https://www.gofundme.com/f/university-and-city-of-sunderland-24-hour-row?attribution_id=sl%3A9d1a2807-e6cb-4258-a28c-8549cab96d2c&lang=en_GB&utm_campaign=man_ss_icons&utm_medium=customer&utm_source=copy_link&fbclid=IwY2xjawJ8nTdleHRuA2FlbQIxMQABHsQsL7HgWyI1etnktbNKsImkvndLqvaHGTjsjAfMJAKZvn_SQLQue2Uyyj66_aem_eIWPcWpR2K3NVOXskgMBng', target='_blank', rel='noopener'): img(data-src='/assets/support/University-and-City-of-Sunderland-24-hour-Row .webp')
        div
          p 29th March 2025
          h3 We collaborating to complete a 24-hour row to raise £1,401 for the club and the All Aboard Youth Rowing charity
          p Special thank you to everyone who took part raising this money for the club.
      .section-tile
        a(href='https://sunderlandrowingclub.co.uk/events/south-hylton-lds', target='_blank', rel='noopener'): img(data-src='/assets/support/club.webp')
        div
          p 26th October 2024
          h3 Weʼve raised £865 with club house expansion!
          p Special thank you to everyone who attend our race and help us raising this money for the club.
      .section-tile
        a(href='https://www.spacehive.com/help-us-get-more-people-rowing', target='_blank', rel='noopener'): img(data-src='/assets/support/spacehive.webp')
        div
          p 7rd December 2023
          h3 Weʼve raised £2,369 to Help us get more people Rowing!
          p Special thank you Sunderland city council and everyone who help raising this money for the club.

      .section-tile
        a(href='https://sunderlandrowingclub.co.uk/events/south-hylton-lds', target='_blank', rel='noopener'): img(data-src='/assets/support/club.webp')
        div
          p 28th October 2023
          h3 Weʼve raised £1285.35 to Help us start club house expansion!
          p Special thank you to everyone who attend our race and help us raising this money for the club.

      .section-tile
        a(href='https://www.justgiving.com/crowdfunding/sunderlandrowingclub?utm_id=107&utm_term=3jxD2ZXB5&fbclid=IwAR1kNEHEa_dtqI0TgiF3r0vEvbQ3p7dU6C8H2uYyEi5IZUvaSEyR9FvtHMg', target='_blank', rel='noopener'): img(data-src='/assets/support/justgiving.webp')
        div
          p 23rd December 2022
          h3 Weʼve raised £563 to support the purchase of a new boat!
          p Special thank you Martin Murphy for raising money for the club.

      .section-tile
        a(href='https://www.justgiving.com/crowdfunding/csrc?utm_id=66&utm_term=EEegaenAJ', target='_blank', rel='noopener'): img(data-src='/assets/support/justgiving.webp')
        div
          p 21st December 2019
          h3 Weʼve raised £150 to help fund equipment!
          p Special thank you to Carrie Richardson and Graham Ord for raising money for the club.

      .section-tile
        a(href='https://www.justgiving.com/crowdfunding/csrc?utm_id=66&utm_term=EEegaenAJ', target='_blank', rel='noopener'): img(data-src='/assets/support/justgiving.webp')
        div
          p 21st December 2019
          h3 Weʼve raised £225 to help fund for boat refurbishments!
          p Special thank you to Sarah Hodge for raising money for the club.

      .section-tile
        a(href='https://www.justgiving.com/crowdfunding/Sunderland-Rowing-Club?utm_term=qXNbEX8vk', target='_blank', rel='noopener'): img(data-src='/assets/support/justgiving.webp')
        div
          p 20th November 2016
          h3 Weʼve raised £60 to Help fund new equipment!
          p Special thank you to Sarah Hodge for raising money for the club.