extends /../includes/page.pug

append html
  - const headerImage = 'about_header'

block head
  - css = '/contact/style.css'
  link(rel='preload', as='image', href=`/assets/${headerImage}.webp`)
  script(type='module', src='/contact/script.js')

block content
  #header(style=`background-image:linear-gradient(to top, var(--base-color), transparent 100px),url('/assets/${headerImage}.webp');`)
  #sections
    .section.row
      .section-content
        h1 Contact
        .row
          .icon: include /../includes/icons/at.svg
          | club@example.com
        .row
          .icon: include /../includes/icons/phone.svg
          | 07546 363662
        .row
          .icon: include /../includes/icons/map-marker.svg
          span
            div Sunderland Rowing Club
            div Riverside Park, South Hylton
            div SR4 0RT
      .section-attachments
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12970.813224927118!2d-1.4491756746941618!3d54.92156891179168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x48d666e3ee3afee7!2sCity%20of%20Sunderland%20Rowing%20Club!5e0!3m2!1sen!2suk!4v1673644548183!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
