@import '/includes/global.styl'
@import '/includes/page_sections.styl'

.section-attachments>iframe
  border: 8px solid #fff !important
  border-radius: 4px

.section
  .row
    gap: 8px
    margin-bottom: 8px
    text-decoration: none
    color: #fff

  .icon>svg
    width: 24px
    height: 24px
    display: block
    fill: #fff

  a.row
    display: inline-flex
