extends /../includes/members_page.pug

block append head
  title= title + ' Learn-to-Row Page'
  meta(name='description' content='This is the leran-to-row page to Sunderland Rowing Club. It provides a description, training times, further information, and how to join.')

block pageTitle
  | Learn-to-Row

block headerImage
  - const headerImage = 'members/learn_header'

block sections
  a#sign-up-button.header-button(role='button' tabindex='0' aria-label='Scroll to How to Join to Sign Up Now') Sign Up Now

  .section.row
    .section-content
      h1 Looking for a new hobby?
      p Sunderland Rowing Club runs learn-to-row courses during the year. These courses typically consist of approximately two hours where our volunteer coaches will take you through the basics of rowing technique, both on a Concept2 RowErg and on the water. 
      p Rowing is all about using smooth, controlled movements to push and pull. Whether you're on land or in a boat, the basic steps are the same. In these sessions we will teach you the correct body movements and positions that move a boat effectively. Our dedicated team of coaches are here to provide you with as much or as little detail as you require, so feel free to ask questions along the way.
      p Please remember that weather conditions may vary and suitable clothing is always required. British Rowing does provide a more detailed itinerary in this <a href="https://www.britishrowing.org/knowledge/rower-development/british-rowing-technique/what-to-wear">What to Wear for Rowing</a> article, but please know that no specialist clothing is required.
      p When you complete the course, you will then be able to continue at our club as a member and further your rowing ability. Once you are at a reasonably competent standard, there are then opportunities to race competitively, or you can continue to row at the club and enjoy our social atmosphere. 

    //.section-attachments.important
      .plan.attachment
        .plan-name First Three Sessions
        .plan-price
          .plan-price-value Free
    
  .section.row
    .section-content
      h1 Further Information
      p In these sessions we will teach you the core rowing and sculling techniques while furthering your fitness. Sessions will take place on the land and water, where a coach will supervise and lead. Rowing is a water sport, but if you are not a confident swimmer, we do offer life jackets and appropriate safety cover during sessions. 
      p A typical session will include:
      ul 
        li Instruction both indoors on Concept2 RowErgs and on the water in boats.
        li Coaching from qualified instructors.
        li An environment that is both fun and relaxed.
        li Feedback from the session, including a breakdown of what went well and ways to further improve (this is the ideal time to ask any questions that you may not have had time to ask earlier).
      p The three free sessions serve as an introduction and aim to spark your appetite to continue learning to row. There is no obligation to sign up as a member after the three free sessions; however, we hope you enjoy your time enough that you are interested in joining the club.
      h2 Juniors
      p The course is aimed at anyone still in compulsory full-time education, typically between the ages of 10 and 18, with an interest in learning to row. Rowing is not just a great exercise, but it also provides a fun way to socialise and make friends with others of a similar age group. Our volunteer coaches are DBS checked and registered through British Rowing. 
      h2 Adults
      p The course is aimed at adults who are looking for a new challenge and want to learn to row. If you’re new to sport/fitness and want to learn a new skill in a friendly and supportive environment, then come along. Alternatively, if you have played other competitive sports or regularly attend a gym and want to test yourself in a team environment, then rowing is the ideal sport.

    .section-attachments.important
      .attachment
            h2 Coaches
            ul
              li Chris Webb
              li Sarah Hodge
              li Stephen Beadling
              li Joshua Green 

  .section.row 
    .section-content 
      h1 Training Times
      p Below is a rough outline for learn-to-row training times; however, this is subject to change for any given week due to events the club may be participating in, weather conditions, or any other extenuating circumstances.
      p Please contact us before attending sessions; this just helps us to better plan for everyone attending.
      table
        thead
          tr 
            th Day
            th Restrictions
            th Time
            th Extra info
        tbody
          tr
            td Monday
            td Full members only
            td 
            td
          tr
            td Tuesday
            td Full members only
            td 
            td
          tr
            td Wednesday
            td Open to all
            td Juniors: 
            td
            td 5:15pm - 6:30pm 
            td Adults: 
            td 6:30pm - 8:00pm 
            td 
            td
          tr
            td Thursday
            td Full members only
            td 
            td
          tr
            td Friday
            td Rest Day
            td
            td
          tr
            td Saturday
            td Open to all
            td Usually 10:30am  
            td (Dependent on weather and events)
          tr
            td Sunday
            td Open to all
            td Usually 10:30am  
            td (Dependent on weather and events)
      p Please note that any changes to times will be announced within the relevant WhatsApp groups.
  .section
    #sign-up-section.scroll-stop
    .short-section
      div
        h1 How To Join
        p To join, contact us at the email below, where we can get you started on your rowing journey or respond to any further queries.
        div: a.email(href="mailto:sunderlandrowingclub1889@gmail.com")
          .icon: include /../includes/icons/email.svg
          | sunderlandrowingclub1889@gmail.com

      //<iframe id="form" src="https://docs.google.com/forms/d/e/1FAIpQLSff4pFp8L0p3fIKrwRJrso_pHjtjUEUcV3BHHGOqwb1tqLD-A/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0"></iframe>
