extends /../includes/members_page.pug

block pageTitle
  | Learn to Row

block headerImage
  - const headerImage = 'members/learn_to_Row'

block sections
  .section.row
    .section-content
      h1 Looking for a new challenge?
      p First of all - don't worry if you think you may be too old, not fit enough, not big enough or not (something else) enough to start rowing. If you have got as far as this page in your search for a new sport, then we're here to encourage you on to the water. 18 to 80+ with no experience or previous sporting experience necessary!

      p Sunderland Rowing Club runs a learn to row courses during the year. The courses typically consist of 8 sessions of 2 hours where our volunteer coaches will take you through the basics of rowing technique. When you complete the course, you will then be able to decide whether to take up the sport competitively and join one of the training squads or you might decide to concentrate on the more sociable aspects of 
        a(href="/members/recreational") recreational rowing
        | .
    .section-attachments.important
      .plan.attachment
        .plan-name First 3 session
        .plan-price
          .plan-price-value FREE!!!
      .plan.attachment
        .plan-name Adults
        .row
          .plan-price
            .plan-price-value £20
            .plan-price-per month
          .plan-price
            .plan-price-value £180
            .plan-price-per year
      .plan.attachment
        .plan-name Juniors
        .row
          .plan-price
            .plan-price-value £15
            .plan-price-per month
          .plan-price
            .plan-price-value £150
            .plan-price-per year
      .plan.attachment
        .plan-name Students
        .row
          .plan-price
            .plan-price-value £5
            .plan-price-per month
          .plan-price
            .plan-price-value £50
            .plan-price-per year
  .section.row
    .section-content
      h1 Juniors 
      p Rowing is a water sport but your child does not have to able to swim as we offer life jackets and appropriate safety cover during lessons. Please ensure they wear warm but flexible clothing e.g. tracksuit, shorts and t-shirt, waterproof top depending on the weather.

      p The club has volunteer coaches who will teach your child to row; our Junior Coaches are DBS checked.  If you have any rowing experience yourself, your assistance would be appreciated; all parents are asked to support their children, this may include carrying boats (if you are able) or helping in other ways that we will explain during the course that will lead to you feeling  more involved.

      h1 Adults
      p The course is aimed at men and women who are looking for a new challenge and want to learn to row. If you have played other competitive sports or regularly attend a gym and want to test yourself in a team environment, then rowing is the sport for you. Or, if you’re new to sport / fitness and want to learn a new skill in a friendly and supportive environment, then come along.

      p We will teach you the core rowing and sculling techniques while working on your fitness levels. Sessions will take place on the land and water, and you will always be supervised by a coach who will lead the sessions. The course is an introduction and aims to wet your appetite to continue learning to row. There is no obligation to continue or sign-up as a member after the course but we hope you will have enjoyed your time enough that you are interested in joining the club to develop your rowing further.

      ul
        li A 2 hour session every week for 3 weeks.
        li Instruction on indoor rowing machines and on the water.
        li Optional group fitness session.
        li Coaching from qualified instructors
        li Fun and relaxed environment.
    .section-attachments.important
      .attachment
            h2 Coaches
            ul
              li Chris Webb
              li Sarah Hodge
              li Stephen Beadling

  .section.row
    .section-content
      h1 Further Info
      p Rowing requires practice. If you are interested in being competitive then, you will benefit from attending as many water sessions as you can and, be willing to achieve a reasonable level of fitness and be keen to improve.

      p You do not need special clothes to row, you will need layers that will keep you warm depending on the weather. Please wear clothes that allow the full range of movement and are reasonably fitted (baggy clothes are not ideal they get caught) e.g. leggings, tracksuit, fitted t-shirt and long sleeve shirts, fleece, waterproof jacket, peaked hats, sunglasses and a bottle of water are a good idea. please read 
        a(href="https://www.britishrowing.org/knowledge/rower-development/british-rowing-technique/what-to-wear") what to wear













