extends /../includes/members_page.pug

block pageTitle
  | Flexi-members

block headerImage
  - const headerImage = 'members/flexi_header'
  - const pageName = 'Flexi-members Page'

block sections
  a#sign-up-button.header-button Sign Up Now
  .section.row
    .section-content
      p This page is intended for Flexi-members. This membership is the same as an adult membership but is discounted for those who either work overseas or are attending a university not within the area, as members of this type will not be able to attend as many sessions as those with a full adult membership.
      p This flexible option allows you to maintain your membership at a reduced rate while you’re away, preventing you from having to choose between full-price access or cancelling altogether. When you return during holidays, breaks, or visits, your full access is instantly restored—no rejoining fees and no hassle. It’s the perfect solution for anyone whose life takes them elsewhere but who still wants an easy way to stay part of our community.
      p Please refer to our adult page for all other details regarding training and further information.
      br
      a.link-button(href='/members/adults') Adults Page

  .section
    #sign-up-section.scroll-stop
    .section-split
      div
        h1 How To Join
        p If you are a new member who would like to join our club, then please get in touch by contacting us at the email below.
        p If you are a current member and are looking to make payments, memberships can be paid through GoCardless (link to be added soon), or alternatively, any membership payment can also be directly made to the club account; please contact the email below if this is your preferred method of payment.
        //p If you are a current member and are looking to make payments, memberships can be paid through GoCardless as linked below (alternatively, any membership payment can also be directly made to the club account; please contact the email below if this is your preferred method of payment).
        p If you are making a payment for the first time please contact via email to complete a member detail form. 
        div: a.email(href="mailto:sunderlandrowingclub1889@gmail.com")
          .icon: include /../includes/icons/email.svg
          | sunderlandrowingclub1889@gmail.com
        //a.payment-button(href='') //Needs GoCardless link 
          h4 Monthly payments (£50 / yearly)
          p £50 will be collected as one-off instant payment
        
      //<iframe id="form" src="https://docs.google.com/forms/d/e/1FAIpQLSc-gEDyUwiSQHSgOa-EdmHgLwfOXzj4-c7KILyvcCQgazEBzw/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0"></iframe>

  .section
    <div data-mc-src="ccc0a959-b2ba-446c-9ab1-9f696a5f44b4#youtube"></div><script src="https://cdn2.woxo.tech/a.js#6412038e34fe25f694e77401" async data-usrc></script>