extends /../includes/members_page.pug

block pageTitle
  | Recreational

block headerImage
  - const headerImage = 'members/recreational_header'

block sections
  .section.row
    .section-content
      h1 Placeholder title
      p This should be some info related to the recreational.
      p Two or three paragraphs would probably be good.
      h1 Placeholder title 2
      p You can have multiple titles in a single section if you want.
    .section-attachments.important
      .plan.attachment
        .plan-name Recreational Training
          .plan-price
            .plan-price-value £8.50
            .plan-price-per Monthly
          .plan-price
            .plan-price-value £25
            .plan-price-per Quarterly
          .plan-price
            .plan-price-value £100
            .plan-price-per Yearly
      .attachment
        h2 Coaches
        ul
          li Placeholder
  .section
    h1 Placeholder title 3
    p Add however many sections you need.

block afterGallery
  #videos.section
    .video: <iframe width="560" height="315" src="https://www.youtube.com/embed/ZBMbNOI7kiM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>