@import '/includes/global.styl'
@import '/includes/page_sections.styl'

.section-attachments
  &>a
    display: block
    max-width: 400px
    background-color: #fff
    border: 8px solid #fff
    border-radius: 4px
    cursor: pointer
    
    @media screen and (max-width: 1000px)
      max-width: @css{min(400px, 100%)}

    &>img
      display: block
      width: 100%
      background-color: #fff

.link-button
  background-color: #fff
  color: #000
  border-radius: 4px
  padding: 12px 18px
  text-decoration: none
      
#crowdfunding
  gap: 10px
  padding: 20px
  flex-wrap: wrap
      
.section-tile
  display: flex
  flex-direction: column
  flex: 1
  min-width: 300px
  
  h3
    margin-bottom: 0

  p
    margin-top: 0.5em
    font-size: 0.9em
  
  &>a
    max-width: 600px
    border: 4px solid #fff
    border-radius: 4px
    box-sizing: border-box
    align-self: center

    &>img
      width: 100%
      display: block

#sponsors
  display: grid
  padding: 20px
  gap: 10px
  grid-template-columns: @css{repeat(auto-fill, minmax(min(400px, 100%), 1fr))}
  justify-items: center
  
  &>a
    display: block
    max-width: @css{min(400px, 100%)}
    border: 8px solid #fff
    border-radius: 4px
    cursor: pointer

    &>img
      display: block
      width: 100%
