extends /../includes/members_page.pug

block pageTitle
  | Scouts

block headerImage
  - const headerImage = 'members/learn_to_Row'

block sections
  .section.row
    .section-content
      p Get ready to embark on an exciting aquatic adventure with our Scout Rowing Course! This thrilling two-day program is designed to introduce scouts to the world of rowing, blending essential training on rowing machines with an exhilarating two-hour on-water experience.

      h2 Day 1: (september 15th)
      p On the first day, we'll kick things off with an engaging 15 to 20-minute training session on rowing machines. Our expert instructors will provide comprehensive guidance, ensuring that you're fully prepared for the upcoming adventure. Following this, get ready to hit the water for an action-packed two-hour session that promises to be the highlight of the day.

      h2 Day 2: (september 22th)
      p The excitement continues as we return to the water for another fantastic two-hour rowing session. This is your opportunity to deepen your skills, build teamwork, and enjoy the camaraderie of fellow scouts.

      p Whether you're a complete novice or have some rowing experience, our program is tailored to accommodate all skill levels. Join us for this unique opportunity to discover the art of rowing while forging lasting bonds with your scout peers amidst the beauty of the outdoors. Don't miss out on this incredible adventure – sign up now and let the rowing spirit propel you forward!


      
    .section-attachments.important
      .plan.attachment
        .plan-name 2 session
        .plan-price
          .plan-price-value £10

      .attachment
            h2 Coaches
            ul
              li Chris Webb
              li Sarah Hodge

      a.payment-button(href='https://pay.gocardless.com/AL00066PM8WNCS')
          h4 Pay here 
          p £10 will be collected as one-off instant payment

  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScEu_8LRC9MrUs8hx8W9_NvAh8tZWAIMJnD6-Bu14AKD3c11Q/viewform?embedded=true" width="1064" height="1064" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>