@import '/includes/global.styl'
@import '/includes/page_sections.styl'

#header
  h1
    filter: drop-shadow(0 1px 2px rgba(0,0,0,.533)) drop-shadow(0 .1em .1em rgba(0,0,0,.267))

&>img.attached
  max-width: 600px
  height: auto
  border: 5px solid var(--white)
  border-radius: 4px
  box-sizing: border-box
  align-self: center

  &:focus
    outline: thick solid var(--black)

  &:focus-visible
    outline: thick solid var(--black)

  &:hover
    border: 5px solid var(--secondary-background-color)

  &>img
    width: 100%
    display: block
    height: auto
  
.section-attachments.important
  &>a 
    width: fit-content
    align-self: center

@media screen and (max-width: 1200px)
  .section
    .row.sector
      flex-direction: column