extends /../includes/page.pug

block head
  - css = '/events/style.css'
  //- link(rel='preload', as='image', href=`/assets/${headerImage}.webp`)
  script(src='https://code.jquery.com/jquery-3.6.3.slim.min.js')
  script(type='module', src='/events/script.js')

block content
  template#chevron-left-icon: include /../includes/icons/chevron-left.svg
  template#chevron-right-icon: include /../includes/icons/chevron-right.svg
  #info
    #info-section
      div
        h1 Events
        p This page has all of our training times, club meatings, fundraising, upcoming races big and small please click this link to add it to your calendar 
        ul
          li Adults Training
          li Juniors Training
          li Important Races
          li Learn to row
        br
        a.link-button(href="https://calendar.google.com/calendar/u/0?cid=c3VuZGVybGFuZHJvd2luZ2NsdWIxODg5QGdtYWlsLmNvbQ") subscribe to Calendar

      div
        h1 Upcoming Events
        #upcoming-events

      <iframe src="https://embed.styledcalendar.com/#Jg5g184S5BBmqOvReEeP" title="Styled Calendar" class="styled-calendar-container" style="width: 100%; border: none;" data-cy="calendar-embed-iframe"></iframe>
      <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
