extends /../includes/page.pug

append html
  - const headerImage = 'events_header'

block head
  - css = '/events/style.css'
  link(rel='preload', as='image', href=`/assets/${headerImage}.webp`)
  script(src='https://code.jquery.com/jquery-3.6.3.slim.min.js')
  script(type='module', src='/events/script.js')

block append head
  title= title + ' Events Page'
  meta(name='description' content='This is the events page to Sunderland Rowing Club. It provides a breif description of rowing events, a list of upcoming events, and a calendar of important dates/events.')

block content
  #header(style=`background-image:linear-gradient(to top, var(--base-color), transparent 100px),url('/assets/${headerImage}.webp');`)
    #home-header-text
      h1 Events
  #sections
    a#upcoming-events-button.header-button(role='button' tabindex='0' aria-label='Scroll to Upcoming Events') Upcoming Events

    .section
      h1 Types of Competition
      p This page includes all information relating to racing competitively. Typically races are one of two types:
      h2 Regattas
      p A regatta is the shorter of the two (usually up to 2 km); in this event, two or more boats start side by side and race to be the fastest to the finish. At events this is often styled as a tournament to accommodate the large number of crews competing in the same group. These races occur in the spring and summer months. The Olympics and Henley Regatta are the most common places to see this type of racing.
      h2 Heads
      p A head is the longer of the two (usually over 2 km, with some exceptions). In this event all boats go up to the start line and are then sent one at a time down the course (usually 10–20 seconds apart). The fastest timed crew in each group is then the winner. These races occur in the autumn and winter months. The Head of the River Race and the Boat Race are the most common places to see this type of racing.

    
    .section
      #upcoming-events-section.scroll-stop
      h1 Upcoming Events
      p Our club often competes in events both local and national; below are links to events that we aim to attend. Locally more races are held, all of which can be found on <a href="https://www.nerowing.com/calendar.html", target='_blank', title='Opens link in new window', rel='noopener', aria-label='Link to Northern Rowings Calendar'>Northern Rowing's website</a>; alternatively, a larger collection of nationwide events can be found on <a href="https://www.britishrowing.org/competition-calendar/", target='_blank', title='Opens link in new window', rel='noopener', aria-label='Link to British Rowings Calendar'>British Rowing's website</a>.
      #upcoming-events

    .section 
      h1 Past Events 
      p Below are links to events that our club has attended within the last year. A full archived list of all events from the previous year(s) can be found on <a href="https://biddulph.org.uk/2024cal.htm", id="biddulph-link", target='_blank', title='Opens link in new window', rel='noopener', aria-label='Link to David Biddulphs Rowing Calendar'>David Biddulph's rowing pages</a>.      
      #past-events
    
    script.
      const link = document.getElementById('biddulph-link')
      const previousYear = new Date().getFullYear() - 1
      link.href = `https://biddulph.org.uk/${previousYear}cal.htm`;

    .section
      .shorter-section
        h1 Calendar
        p The club calendar provides dates and times for club meetings, fundraising opportunities and races. If you would like to stay updated with these events, please click the subscribe button below.
        <iframe src="https://embed.styledcalendar.com/#Jg5g184S5BBmqOvReEeP" title="Styled Calendar" class="styled-calendar-container" style="width: 100%; border: none;" data-cy="calendar-embed-iframe"></iframe>
        <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>