extends /../includes/page.pug

block head
  - css = '/event/style.css'

block content
  #header
    h1 South Hylton LDS
  #sections
    .section.row
      .section-content
        h1 South Hylton LDS
        p [Placeholder]
      .section-attachments.important
        .attachment Work in progress
