extends /../includes/page.pug

append html
  - const headerImage = 'about_header'

block head
  - css = '/about/style.css'
  link(rel='preload', as='image', href=`/assets/${headerImage}.webp`)
  script(type='module', src='/about/script.js')

block content
  #header(style=`background-image:linear-gradient(to top, var(--base-color), transparent 100px),url('/assets/${headerImage}.webp');`)
  #sections
    .section.row
      .section-content
        h1 Sunderland Rowing Club
        p If you haven’t rowed before, the sport provides full-body outdoor fitness, stimulates your senses and challenges you physically. There are few things as exhilarating as rowing at full pressure in a well synchronised crew. We run regular Learn to Row courses for juniors and adults to set you on your way.
      .section-attachments
        img(data-src='https://sunderland-rowing-club-preview.pages.dev/assets/header_background.webp')
    .section.row
      .section-content
        h1 History
        p This should be everything you want people to know about the history of the club. Things like how it started, who started it, big changes that has happened that improved the club, and things like that.
        p This can really go into detail about things, so it can be as many paragraphs as needed. However, keep in mind that too much information might make people stop reading/caring.
        .gallery
          .image-scroller(data-dir='history/very-old/')
          .image-scroller(data-dir='history/old/')
          .image-scroller(data-dir='history/now/')
          .image-scroller(data-dir='history/new/')
    .section.row
      .section-content
        h1 Thing
        p Add as many sections as you want about specific things that you want people to know about. Length doesn't really matter here, some sections can be short, some can be long. If you have a lot of them, try to balance it a bit. For example, maybe put a shorter section between two long ones so that people get a break.
      .section-attachments
        img(data-src='https://sunderland-rowing-club-preview.pages.dev/assets/header_background.webp')
    .section.row
      .section-content
        h1 Thinking of joining?
        p Sunderland Rowing Club runs a learn to row courses during the year. The courses typically consist of 8 sessions of 2 hours where our volunteer coaches will take you through the basics of rowing technique. When you complete the course, you will then be able to decide whether to take up the sport competitively and join
