@import '/includes/global.styl'
@import '/includes/page_sections.styl'

#header
  background-position: 50% 20%

@keyframes slideFadeIn
  from
    opacity: 0
    
  to
    opacity: 1

@keyframes slideFadeOut
  from
    opacity: 1

  to
    opacity: 0
    display: none

.section-attachments
  img
    display: block
    max-width: 400px
    border: 8px solid #fff
    border-radius: 4px
    cursor: pointer

.gallery
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
  $gap = 16px
  $padding = 20px
  overflow: hidden
  padding: ($padding - $gap / 2)
  margin-right: -60px
  
  @media screen and (max-width: 1000px)
    margin-right: 0

  &>.image-scroller
    position: relative
    background-color: #fff
    border-radius: 4px
    flex: 1
    box-sizing: border-box
    overflow: hidden
    margin: ($gap / 2)
    $border-width = 8px
    user-select: none
    height: 250px

    &>img
      display: block
      background-color: #000
      width: unquote('calc(100% - ' + $border-width * 2 + ')')
      position: absolute
      inset: $border-width
      height: (250px - $border-width * 2)
      object-fit: cover
      animation: slideFadeIn 500ms 1 forwards ease-in-out

      &.timed-out
        pointer-events: none
        animation: slideFadeOut 500ms 1 forwards ease-in-out

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

#fullscreen-cover
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  display: flex
  align-items: center
  justify-content: center
  background-color: #0008
  backdrop-filter: blur(32px)
  z-index: 999
  animation: fadeIn 1 250ms forwards
  
  &:empty::before
    content: 'Loading image...'
    color: #fff
    text-shadow: 0 1px 2px #0008
    font-size: 24px
    animation: fadeIn 1 1s forwards
  
  &>img
    display: block
    max-width: calc(100% - 60px)
    max-height: calc(100% - 60px)
    box-sizing: border-box
    border: 8px solid #fff
    border-radius: 4px
    
    @keyframes grow
      from
        transform: scale(0)
      to
        transform: scale(1)
    animation: grow 1 1s forwards
