@import '/includes/global.styl'
@import '/includes/page_sections.styl'

.link-button
  background-color: #fff
  color: #000
  border-radius: 4px
  padding: 12px 18px
  text-decoration: none
  &:hover
    background-color: var(--secondary-background-color)

.section p
  font-size: 1.1em

.section-attachments>iframe
  border: 8px solid #fff
  border-radius: 4px
  min-width: 600px
  min-height: 450px
  background-color: #fff
  
  @media screen and (max-width: 1000px)
    max-width: calc(100vw - 100px)
    min-width: calc(100vw - 100px)
  
  &:not([src])
    display: none

#date
  font-size: 24px

#description
  white-space: pre-wrap
