@import '/includes/global.styl'
@import '/includes/page_sections.styl'

.link-button
  background-color: var(--base-color)
  color: var(--white)
  border: 2px solid var(--white)
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
  border-radius: 4px
  padding: 12px 18px
  font-weight: bold;
  text-decoration: none
  &:hover
    background-color: var(--intermediate-color)
    border: 2px solid var(--white)
    color: var(--white)

.section p
  font-size: 1.1em

.section-attachments>iframe
  border: 8px solid var(--white)
  border-radius: 4px
  min-width: 600px
  min-height: 450px
  background-color: var(--white)
  
  @media screen and (max-width: 1000px)
    max-width: calc(100vw - 100px)
    min-width: calc(100vw - 100px)
  
  &:not([src])
    display: none

#date
  font-size: 24px

#description
  white-space: pre-wrap
