extends /../includes/page.pug

block head
  title= 'Sunderland Rowing Club Home Page'
  link(rel='preload', as='image', href='/assets/header_background.webp')
  script(type='module', src='/script.js')

block content
  #home-header
    #home-header-text
      #home-logo: include /../includes/icons/logo.svg
      .row
        a#join-us-button.header-button(role='button' tabindex='0' aria-label='Scroll to Learn-To-Row Section') Join Us
  
  #sections
    .section.row
      .section-content
        h1 Sunderland Rowing Club
        p Welcome to Sunderland Rowing Club, where everyone is invited. No prior rowing experience is required (although we'd love to hear about any experience you may have); just bring suitable clothing, and we can provide all other equipment.
        p Our club intends to provide a friendly, welcoming, and supportive environment for all members regardless of background or ability. We pride ourselves on our sense of community through building a social environment to support, build confidence, and create lasting friendships, all while learning to row or improving your already existing rowing ability.
        p Join us and experience a challenge, a sense of teamwork, and what makes rowing feel truly special. Don't be afraid to contact us or sign up for one of our learn-to-row sessions and give it a go.
        
    .section.row
      #join-us-section.scroll-stop
      .section-content
        h1 Learn-to-row
        p Sunderland Rowing Club offers everyone three free learn-to-row sessions. 
        p A full session should last about two hours and will progress at a pace that seems comfortable to each individual. Don't be afraid to ask to stop at any point, as these sessions won't look to be too tiring and are intended just to learn the correct technique.
        p Within these sessions we aim to teach you as much of the basics of rowing as we can; a typical learn-to-row session will involve a short introduction to rowing on a Concept2 RowErg followed by an on-the-water session (provided that the weather remains suitable). 
        p Please do note that weather conditions may vary and suitable clothing is always required. You do not need special clothing to row; you will only need layers that will keep you warm or protect you from the sun. 
        p It is recommended that any clothes you intend to wear during the session will allow a full range of movement and are reasonably fitted (baggy clothes are not ideal as they can get caught and can make it difficult to row). A few great things to bring along (subject to the weather) include a tracksuit, leggings, a t-shirt/long-sleeve shirt, fleece, a waterproof jacket, hats, sunglasses, a bottle of water, and Wellington boots (if you aren't comfortable borrowing some from the club). British Rowing provides a more detailed itinerary in this <a href="https://www.britishrowing.org/knowledge/rower-development/british-rowing-technique/what-to-wear"> What to Wear for Rowing</a> article.
        p Once you've completed your first three sessions, feel free to head over to our <a href="/members/juniors">Juniors</a>/<a href="/members/adults">Adults</a> page or talk to a coach to find out more. Any questions you may have are welcome at the club, so don't be afraid to ask.
        p Click on the button to find out more about our learn-to-row sessions.
        br
        a.link-button(href='/members/learn') Learn-to-row

      .section-attachments.important
        a.plan.attachment(href='/members/learn')
          .plan-name First Three Sessions
          .row
            .plan-price
              .plan-price-value Free
              .plan-price-per Learn More

    .section.row
      .section-content
        h1 Becoming A Member
        p This section is intended for those who have completed the free learn-to-row sessions.
        p The boxes in this section provide member prices for: 
        ul 
          li <strong>Adults</strong> – Anyone no longer in compulsory full-time education and over the age of 18 before the most recent 1st of September at 00:00.
          li <strong>Juniors</strong> – Anyone still in compulsory full-time education, typically between the ages of 10 and 18 (as specified by British Rowing, at 00:00 on the 1st of September after a junior's 18th birthday, that member is no longer a junior). 
          li <strong>Flexi-members</strong> – Adult members who either work overseas or are currently attending a university not within the area.
          li <strong>University of Sunderland Students</strong> – Those who are currently enrolled at the University of Sunderland.
        p Most of these payments have the option to be paid either monthly, quarterly, or yearly, whichever best suits you.
        p Click on the relevant box to find out more. 
        
      .section-attachments.important
        a.plan.attachment(href='/members/adults')
          .plan-name Adults
          .row
            .plan-price
              .plan-price-value £15
              .plan-price-per Monthly
            .plan-price
              .plan-price-value £45
              .plan-price-per Quarterly
            .plan-price
              .plan-price-value £180
              .plan-price-per Yearly
        
        a.plan.attachment(href='/members/juniors')
          .plan-name
            div Juniors
            div Ages 10-18
          .row
            .plan-price
              .plan-price-value £12.50
              .plan-price-per Monthly
            .plan-price
              .plan-price-value £37.50
              .plan-price-per Quarterly 
            .plan-price
              .plan-price-value £150
              .plan-price-per Yearly

        a.plan.attachment(href='/members/flexi')
          .plan-name
            div Flexi-members
          .row
            .plan-price
              .plan-price-value £50
              .plan-price-per Yearly

        a.plan.attachment(href='https://sj.sunderland.ac.uk/student-information/support-services/team-sunderland/clubs/rowing/')
          .plan-name University of Sunderland Students
          .row
            .plan-price
              .plan-price-value University of Sunderland Website 
              .plan-price-per Learn More
    
    .section.row
      .section-content
        h1 Support Us 
        p At Sunderland Rowing Club we have plenty of opportunities for you to support us.
        p Whether you're a current member, used to be a member, or even just someone who wants to support us, we would be thrilled to receive any donation.
        p Alternatively, there are plenty of other ways to get involved and help support the club; just click the button below to find out more.
        br
        a.link-button(href='/support') Find out more
        