extends /../includes/page.pug

block head
  link(rel='preload', as='image', href='/assets/header_background.webp')
  script(type='module', src='/script.js')

block content
  #home-header
    #home-header-text
      #home-logo: include /../includes/icons/logo.svg
    #info
      h1 Under Construction
      p This website is currently under construction.
      h1 Contact
      a.row(href='mailto:contact@sunderlandrowing.co.uk')
          .footer-icon: include /../includes/icons/email.svg
          | contact@sunderlandrowing.co.uk
      a.row(href='tel:07546363662')
          .footer-icon: include /../includes/icons/phone.svg
          | 07546 363662
      a.row.location-row(href='https://goo.gl/maps/uGbUXG5Tvhcs3YoD9')
          .footer-icon: include /../includes/icons/map-marker.svg
          span
            div Sunderland Rowing Club
            div Riverside Park, South Hylton
            div SR4 0RT
